<footer role="contentinfo">
  <a href="https://magmacollective.org/" style="text-decoration: none;">
    <img width="80" src="{{ "images/MagmaLogo01_black.png" | absURL }}" alt="Magma Collective">
  </a>
  {{ if .IsHome }}
  <div>
    <a href="https://www.opentech.fund/" style="text-decoration: none; padding: 0px 0px 0px 0px">
      <img src="{{ "images/Open_Technology_Fund_logo.svg" | absURL }}" alt="Open Technology Fund" width="140">
    </a>
    <a href="https://www.ndi.org/" style="text-decoration: none; padding: 0px 15px 0px 0px">
      <img src="{{ "images/ndi-logo.png" | absURL }}" alt="National Democratic Institute" width="110">
    </a>
    <a href="https://prototypefund.de/" style="text-decoration: none;">
      <img src="{{ "images/prototype.svg" | absURL }}" height="80" alt="Prototype Fund logo">
      <img src="{{ "images/BMBF_gefoerdert_2017_en.jpg" | absURL}}" width="130" alt="Sponsored by the Federal Ministry of Education and Research">
    </a>
    <a href="https://ethereum.foundation/" style="text-decoration: none;">
      <img src="{{ "images/ef-logo.png" | absURL }}" width="130" alt="Ethereum Foundation">
    </a>
  </div>
  {{ end }}
</footer>
