<nav id="patterns-nav" class="patterns" role="navigation">
  <h2 class="vh">{{ T "nav_main_navigation" }}</h2>
  <button id="menu-button" aria-expanded="false">
    <svg viewBox="0 0 50 50" aria-hidden="true" focusable="false">
      <use xlink:href="#menu"></use>
    </svg>
    {{ T "nav_button_menu" }}
  </button>
  {{ $current := . }}
  <ul id="patterns-list">
  {{ range .Site.Menus.nav }}
    <li class="pattern">
      {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "post")) }}
      {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}

      {{ $active = or $active (and (eq .Name "Protocol Specification") (eq $current.Title "Dark Crystal Key Backup Protocol Specification")) }}
      {{ $active = or $active (and (eq .Name "Threat Model") (eq $current.Title "Dark Crystal Threat Model")) }}
      {{ $active = or $active (and (eq .Name "Use-Cases") (eq $current.Title "Use-Case Scenarios for Threshold Schemes")) }}
      {{ $active = or $active (and (eq .Name "Java API Docs") (eq $current.Title "Dark Crystal Key Backup API Documentation Index")) }}
      {{ $active = or $active (and (eq .Name "Javascript API Docs") (eq $current.Title "Dark Crystal Key Backup Javascript API Documentation Index")) }}
      {{ $active = or $active (and (eq .Name "Worked Example") (eq $current.Title "Worked Example of integrating social recovery into an application")) }}
      {{ $active = or $active (and (eq .Name "Choice of secret sharing") (eq $current.Title "Choosing a threshold-based secret sharing implementation")) }}
      {{ $active = or $active (and (eq .Name "Projects using it") (eq $current.Title "Projects using Dark Crystal")) }}

      <a href="{{ .URL }}" {{ if $active }}aria-current="page"{{ end }}>
        <svg class="bookmark-icon" aria-hidden="true" focusable="false" viewBox="0 0 40 50">
          <use xlink:href="#bookmark"></use>
        </svg>
        <span class="text">{{ .Name }}</span>
      </a>
    </li>
  {{ end }}
  </ul>
</nav>
