{{/* This partial was derived from the conversations in and around
     https://github.com/gohugoio/hugo/issues/1778 -- most directly skyzyx's
     gist; https://gist.github.com/skyzyx/a796d66f6a124f057f3374eff0b3f99a
*/}}

{{/* Minimum heading level to include; default is h2. */}}
{{- $minLevel := 2 -}}
{{/* Minimum heading level to include; default is h4. */}}
{{- $maxLevel := 4 -}}
{{/* Search for headings as specified by $minLevel and $maxLevel, ignoring those
     that contain no text (ex; "<h2></h2>" will be ignored).
*/}}
{{- $regex := printf "<h[%d-%d].*?>(.|\n])+?</h[%d-%d]>" $minLevel $maxLevel $minLevel $maxLevel -}}
{{- $headings := findRE $regex .Content -}}

{{/* Skip generation if there are no (suitable) headings. */}}
{{- $hasHeadings  := ge (len $headings) 1 -}}
{{- if $hasHeadings -}}
  <nav class="toc" aria-labelledby="toc-heading">
    <h2 id="toc-heading">{{ T "table_of_contents" }}</h2>
    {{- .Scratch.Set "toc__last-level" (sub $minLevel 1) -}}
    {{- range $heading := $headings -}}
      {{- $headingLevel   := substr $heading 2 1 | int -}}
      {{- $headingID      := index (findRE "id=.([a-z0-9-_])*" $heading) 0 | after 4 -}}
      {{- $headingTextRaw := substr (index (findRE ">.*</h" $heading 1) 0) 1 -3 -}}
      {{/* There may be an anchor tag wrapping some or all of the heading text.
            We don't want those tags in our ToC text, so lets get rid of them. */}}
      {{- $headingText    := replaceRE "</?a.*?>" "" $headingTextRaw | markdownify }}
      {{- $lastLevel := $.Scratch.Get "toc__last-level" -}}
      {{- $href := printf "#%s" $headingID -}}
      {{- $levelSeq := seq $lastLevel $headingLevel | after 1 -}}
      {{- $.Scratch.Set "toc__last-level" $headingLevel -}}

      {{- if gt $headingLevel $lastLevel -}}
        {{- range $l := $levelSeq -}}
          <ul class="table-of-contents__h{{ $l }}"><li>
        {{- end -}}
      {{- else if lt $headingLevel $lastLevel -}}
        {{- range $l := $levelSeq -}}
          </li></ul>
        {{- end -}}
        </li><li>
      {{- else -}}
        </li><li>
      {{- end -}}
      <a href="{{ $href }}">{{ $headingText }}</a>
    {{- end -}}

    {{- range seq ($.Scratch.Get "toc__last-level") (sub $minLevel 1) | after 1 -}}
      </li></ul>
    {{- end -}}
  </nav>
{{- end -}}
